---
name: Netbox
on:
  pull_request:
  push:
    branches:
      - main

defaults:
  run:
    working-directory: 'jvoss.netbox'

jobs:
  molecule:
    name: Netbox
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro:
          - centos8
          - ubuntu2004
        netbox:
          - v3.0.9

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: netbox
          POSTGRES_USER: netbox
          POSTGRES_PASSWORD: netbox
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      redis:
        image: redis
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2
        with:
          path: 'jvoss.netbox'

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install test dependencies.
        run: pip3 install -r requirements.txt

      - name: Run Molecule tests.
        run: molecule test -s ${{ matrix.netbox }}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
